<!DOCTYPE html>
<html lang="en" 
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/layout}">
	<head>
        <meta charset="UTF-8"/>
        <title>메인페이지</title>
	</head>      
	<th:block layout:fragment="content">
	<body>
  		<div class="container">
	    	<div class="row">
	      		<div class="col-md-6">
	        		<img src="https://mblogthumb-phinf.pstatic.net/MjAxODA2MDFfNDEg/MDAxNTI3ODYzMjcwNTI0.cLYQN7v9DVChNaigMbQQXSxKEKYhlhxnM74HVdp1L00g.LBaW-EJEpSkgjmaN_Ilyn9qJp35Xu_0-Bd2azftJfeEg.PNG.lastmistake/07.png?type=w800" class="img-fluid" alt="이미지">
	      		</div>
	      		<div class="mb-3">
	        		<h1>이미지가 있는 메인페이지</h1>
	        		<p>이미지가 있는 메인페이지입니다.</p>
	      		</div>
	    	</div>
  		</div>
	</body>
</html>