<!DOCTYPE html>
<html lang="en" 
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>boardWrite</title>
</head>
<body>
    <button onclick="saveReq()">글작성</button>
    <button onclick="listReq()">글목록</button> 	
    <button onclick="pagingReq()">페이징목록</button> 	
</body>
<script>
	const saveReq = () => {
    location.href = "/board/boardSave";
  }
  const listReq = () => {
    location.href = "/board/boardList";
  }
  const pagingReq = () => {
    location.href = "/board/boardPaging";
  }
	
</script>
</html>